<script>
$(document).ready(function() {
    $('.ui.dropdown').dropdown();
});
</script>
<div class="ui large inverted top fixed hidden menu">
  <a class="item active red" href='/'>
    Nesci N Books
  </a>
  <a class="item" href='/store'>
    Store
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Book Bundle <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">ECE
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        <div class="item">COE
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        <div class="item">IT
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        <div class="item">ME
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        <div class="item">ICE
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div><div class="item">MPAE
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        <div class="item">BT
          <div class="menu">
          <a class="item">Semester 1</a>
          <a class="item">Semester 2</a>
          <a class="item">Semester 3</a>
          <a class="item">Semester 4</a>
          <a class="item">Semester 5</a>
          <a class="item">Semester 6</a>
          <a class="item">Semester 7</a>
          <a class="item">Semester 8</a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="item">
        <a class="ui button" href="/logout">Log Out</a>
    </div>
  </div>
</div>