<!DOCTYPE html>
<html>
  <head>
    <title>E-Cart</title>
    <link rel='stylesheet' href='/stylesheets/index.css' >  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="semanticUI/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semanticUI/semantic.min.js"></script>
  </head>
  <body>
   	<div class="ui text" id="jumbo">
      <h1 class="ui header" id="jumboHead"> Nesci N Books </h1>
      <h2>Purchase or sell books </h2>
      <a class="ui huge primary button" href="/store">Get Started <i class="fa fa-book" aria-hidden="true"></i></a>
    </div>
    
  </body>
</html>
