<html>
<head>
   <meta name="google-signin-client_id" content="337461078265-s1ij5hp4oc2ud5rb8r30ho0ismjj1qe6.apps.googleusercontent.com">
</head>
<body>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        window.open("/","_top");
      });
    }
    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
  </script>
  <a href="#" onclick="signOut();">Sign out</a>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>
</html>

