body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('images/homebkground.jpg') !important;
}
.container{
  margin-top: 100px;
  text-align: center;
  color: white;
}
.allBooks{
	width:60%;
	margin: 10px auto;
	text-align: : center;
  padding:10px; 
  border: 2px solid black;
  border-radius: 10px;
  background: #06e8c3b5;
}
.eachbook{
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  color: black;
  background: white;
  /*background: #0ff5cf99;*/
}
.cartbtn{
  text-indent: right;
  margin-right:0px; 
  margin-top: 0px;
  position: fixed;
  z-index: :1;


}
.header {
	margin-top: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
